bot_token:
telegraph_token:
socks5:
update_interval: 10
user_agent: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36

mysql:
  host:
  port:
  user:
  password:
  database:

telegram:
  endpoint:

sqlite:
  path: ./data.db